<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>RNP |ListOfUsers</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <!--fav-icon-->
  <link rel="shortcut icon" href="/images/RNP_fav.png"/>
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>
<style>
  .btn-print {
    /* Add your styles for the print button here */
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
<body>
<!-- Logo Header -->
<div class="top-nav">
  <div class="logo-container">
    <img src="/images/coat.png" alt="RNP Arsenal Logo">
  </div>
  <div>
    <h1 style="color: white; letter-spacing: 3px;">Rwanda National Police</h1>
    <p style="color: white; letter-spacing: 4px;">Service - Protection - Integrity</p>
  </div>
  <div class="logo-container">
    <img src="/images/RNP_LOGO.png" alt="RNP Arsenal Logo">
  </div>
</div>
<section class="main">
  <nav>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn">
      <span class="nav-icon"></span>
    </label>
    <ul class="menu" style="border-radius: 5px;">
      <li><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/gun}">Guns</a></li>
      <li><a th:href="@{/request}">Assigned Weapon</a></li>
      <li><a th:href="@{/returns}">Return Weapon</a></li>
      <li><a th:href="@{/search}">Search</a></li>
      <li><a class="active" th:href="@{/polices}" onclick="document.getElementById('id01').style.display='block'" style="width:auto; border-radius: 5px; cursor: pointer;">Login</a></li>
    </ul>
  </nav>
</section>

  <div class="table">
    <h2 style="font-size:20px;">Police Information</h2>
    <button class="btn-print" onclick="printData()">Print Data</button>
  <table class="table-striped">
    <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Rank</th>
      <th scope="col">Police Number</th>
      <th scope="col">Password</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="signup : ${allSignup}">
      <td th:text="${signup.id}"></td>
      <td th:text="${signup.username}"></td>
      <td th:text="${signup.email}"></td>
      <td th:text="${signup.rank}"></td>
      <td th:text="${signup.policeNumber}"></td>
      <td th:text="${signup.password.replaceAll('.','*')}"></td>
      <td>
        <a class="btn btn-danger" th:href="@{'/editPolice/' + ${signup.id}}">Edit</a>
        <a class="btn btn-danger" th:href="@{'/police/delete_police/' + ${signup.id}}" onclick="return confirmDelete()">Delete</a>
      </td>
    </tr>
    <!-- Pagination Section -->
    <div class="pagination">
      <ul>
        <li th:unless="${currentPagePolice == 0}">
          <a th:href="@{/list(page=${currentPagePolice - 1}, size=${size})}">&laquo; Previous</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, totalPagesPolice - 1)}" th:class="${currentPagePolice == i} ? 'active'">
          <a th:href="@{/list(page=${i}, size=${size})}" th:text="${i + 1}"></a>
        </li>
        <li th:unless="${currentPagePolice == totalPagesPolice - 1}">
          <a th:href="@{/list(page=${currentPagePolice + 1}, size=${size})}">Next &raquo;</a>
        </li>
      </ul>
    </div>
    </tbody>
  </table>

<script>
  function printData() {
    window.print();
  }
</script>
  <script>
    function confirmDelete() {
      return confirm("Are you sure you want to delete the user?");
    }

  </script>

<!--footer------------->
<div class="footer-top-banner" style="background: url('/images/footer-top.png') repeat-x;"></div>
<footer>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copyright" style="background-color: #11234b; padding: 20px; text-align: center;">
            <p style="color: #fff;">Copyright (C) - 2023 | Developed By Kayiranga </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
</section>
</body>
</html>