<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, intial-scale=1.0">
<title>RNP |Login</title>
<link rel="stylesheet" href="/css/styles.css"/>
<!--fav-icon-->
<link rel="shortcut icon" href="/images/RNP_fav.png"/>

</head>

<body>
<div class="container flex">
    <div class="facebook-page flex">
        <img src="/images/Rwanda_National_Police.png" alt="Your Logo">
        <form id="login-form" th:action="@{/loginPolice}" th:object="${signupModel}" method="post">
        <p>Login Form</p>
            <input type="text" placeholder="Username" th:field="*{username}" required>
            <input type="password" placeholder="Password" th:field="*{password}" required>
            <div class="link">
                <button type="submit" class="login">Login</button>
                <a href="#" class="forgot">Forgot password?</a>
                <a th:href="@{/police}" id="signup-link">Don't have an account? Sign up</a>
            </div>
            <hr>
        </form>
    </div>
</div>
<script src="scripts.js"></script>
</body>

</html>
