<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>RNP |ReturnWeapons</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <!--fav-icon-->
    <link rel="shortcut icon" href="/images/RNP_fav.png"/>

</head>
<style>
    .btn-print {
        /* Add your styles for the print button here */
        background-color: green;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<body>
<!-- Logo Header -->
<div class="top-nav">
    <div class="logo-container">
        <img src="/images/coat.png" alt="RNP Arsenal Logo">
    </div>
    <div>
        <h1 style="color: white; letter-spacing: 3px;">Rwanda National Police</h1>
        <p style="color: white; letter-spacing: 4px;">Service - Protection - Integrity</p>
    </div>
    <div class="logo-container">
        <img src="/images/RNP_LOGO.png" alt="RNP Arsenal Logo">
    </div>
</div>
<section class="main">
    <nav>
        <!-- <a href="#" class="logo">
            <img src="images/RNP_LOGO.png" width="320px" />
        </a> -->
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        <ul class="menu" style="border-radius: 5px;">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/gun}">Guns</a></li>
            <li><a th:href="@{/request}">Assigned Weapon</a></li>
            <li><a th:href="@{/returns}">Return Weapon</a></li>
            <li><a th:href="@{/search}">Search</a></li>
            <li><a class="active" th:href="@{/polices}" onclick="document.getElementById('id01').style.display='block'" style="width:auto; border-radius: 5px; cursor: pointer;">Login</a></li>
        </ul>
    </nav>
    <main class="container sidR">
    <form th:action="@{/createReturns}" method="post" th:object="${returnsModel}" id="returnsForm">
        <h2>Return Weapon</h2>
        <div class="form-group">
            <label for="request">Request</label>
            <select id="request" name="request.id">
                <option th:each="request : ${allRequests}" th:value="${request.id}" th:text="${request.getRequestdate()}"></option>
            </select>
        </div>
        <div class="form-group student_id">
            <label for="bullet">Return Bullet</label>
            <input type="number" id="bullet" placeholder="Number of Bullet" th:field="*{returnBullets}">
        </div>
        <div class="form-group student_id">
            <label for="magazine">Return Magazine</label>
            <input type="number" id="magazine" placeholder="Number of Magazine" th:field="*{returnMagazine}">
        </div>
        <br />
        <div class="form-group submit-btn">
            <input type="submit" value="Request">
        </div>
    </form>
        <div class="table">
            <h2 class="menu" style="font-size:20px;">Return Weapons</h2>
            <button class="btn-print" onclick="printData()">Print Data</button>
            <table class="table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Request Date</th>
                    <th scope="col">Return Bullets</th>
                    <th scope="col">Return Magazine</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="returns : ${allReturns}">
                    <td th:text="${returns.request.requestdate}"></td>
                    <td th:text="${returns.returnBullets}"></td>
                    <td th:text="${returns.returnMagazine}"></td>

                    <td>
                        <a class="btn bg-warning customPopoverBtn">Edit</a>
                        <a class="btn btn-danger" th:href="@{'/returns/delete_return/' + ${returns.id}}" onclick="return confirmDelete()">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
</section>

<!--footer------------->
<div class="footer-top-banner" style="background: url('/images/footer-top.png') repeat-x;"></div>

<footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright" style="background-color: #11234b; padding: 20px; text-align: center;">
                        <p style="color: #fff;">Copyright (C) - 2023 | Developed By Kayiranga </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    function printData() {
        window.print();
    }
</script>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>
<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>

</html>
